<% if @comments %>
    <div class = "container">
        <h6><u><%= @comments.count %> comment(s)</u></h6>
        <% @comments.each do |comment| %>
                <p><strong><%= comment.created_at.strftime('%d %B %Y') %> at <%= comment.created_at.strftime('%H:%M') %></strong>: <%= comment.content %></p>
        <% end %>
    </div>
<% end %>